<div class="modal">
        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <h1 class="title">My Friends</h1>
            <button class="button button-clear button-positive" ng-click="closeFriendsModal()">Cancel</button>
        </ion-header-bar>
        <!-- Modal content area -->
        <ion-content>
            <a ng-repeat="user in users" ng-click="" class="item item-avatar">
                <img ng-src="img/User-100.png">
                <h2 style="vertical-align: middle; height: 100%;">{{user}}</h2>
            </a>
        
        <div class="item item-divider" style="text-align: center">
                    Other Users
        </div>
            <a ng-repeat="other in others" ng-click="addFriend(other)" class="item item-avatar">
                <img ng-src="img/User-100.png">
                <h2 style="vertical-align: middle; height: 100%;">{{ other}}</h2>
            </a>
        </ion-content>
</div>

