 <ion-view view-title="{{'ID_ACCOUNT' | translate}}">
     <ion-nav-buttons side="right">
         <button class="button button-icon icon ion-log-out" ng-click="logOut()">
         </button>
     </ion-nav-buttons>
         <ion-nav-buttons side="left">
             <button class="button button-icon" ng-click="save_user_info()" translate="{{showSave &&  'ID_SAVE' || undefined}}">
             </button>
         </ion-nav-buttons>

        <ion-content>
            <div class="card">
            <div class="profile-img-container">
                <img id="myProfileImage" image-source="{{user.thumbnail_url != '' && user.thumbnail_url || 'img/User-100.png'}}" is-thumbnail="false" ng-click="updateMedia()"/>
                <!--<img id="myProfileImage" ng-src="{{user.thumbnail_url != '' && user.thumbnail_url || 'img/User-100.png'}}" ng-click="updateMedia()"/>-->
            </div>
            <div class="item item-divider" translate="ID_USERNAME">
                
              </div>
              <div class="item item-text-wrap">
                {{user.username}}
              </div>
              <div class="item item-divider" translate="ID_NAME">
                First Name
              </div>
                <div class="item item-text-wrap">
                {{user.first_name}}
              </div>
            <div class="item item-divider" translate="ID_LAST_NAME">
                
              </div>
                <div class="item item-text-wrap">
                {{user.last_name}}
              </div>
            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label" translate="ID_LANGUAGE">
            
                </div>
                <select ng-model="lang" ng-change="changeLanguage(lang)">
                    <option value="en" selected>English</option>
                    <option value="es">Español</option>
                    <option value="de">Deutsch</option>
                    <option value="tr">Türkçe</option>
                </select>
              </label>
            </div>
        </ion-content>
</ion-view>
