/* Empty. Add your own CSS if you like */
.strike {
    text-decoration: line-through;
    opacity: 0.5;
    color: red;
}


.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .9;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0.9;
  }
}


.profile-img-container {
    position:relative;
}

.profile-img-container i {
    display:inline-block;
    padding:10px;
    position:absolute;
    bottom:10px;
    left:10px;
    border: 2px;
    background-color: white;
    opacity: 0.5;
}

.profile-img-container img {
    position:relative;
}

#mySvg {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
#myRect {
    fill: red;
    stroke: black;
    stroke-width: 2;
    opacity: 0.99;
    visibility: visible;
    position:absolute;
}

#contentContainer {
    cursor: pointer;
}

#myImage {
    
}
